<div class="buttons">
  <div class="step">
    <h1>Step 1: Introduction to Angular</h1>
    <nav>
      <a class="stepbuttons" routerLink="/counter"> Data Binding</a>
      <a class="stepbuttons" routerLink="/directives"> Directives</a>
    </nav>
  </div>

  <div class="step">
    <h1>Step 2: Components, Services, Dependency Injection</h1>

    <nav>
      <a class="stepbuttons" routerLink="/userlist"> User List</a>
      <a class="stepbuttons" routerLink="/parent"> Component Communication</a>
      <a class="stepbuttons" routerLink="/logging"> Dependency Injection</a>
    </nav>
  </div>

  <div class="step">
    <h1>Step 3: Forms and Reactive Programming</h1>

    <nav>
      <a class="stepbuttons" routerLink="/templateform">
        Template Driven Form</a
      >
      <a class="stepbuttons" routerLink="/reactiveform"> Reactive Form</a>
      <a class="stepbuttons" routerLink="/rxjs"> RxJS Programming</a>
    </nav>
  </div>

  <div class="step">
    <h1>Step 4: Routing and Navigation</h1>
    <nav>
      <a class="stepbuttons" routerLink="/routingnav"> Routing & Navigation</a>
    </nav>
  </div>

  <div class="step">
    <h1>Step 5: Angular Directives and Pipes</h1>
    <nav>
      <a class="stepbuttons" routerLink="/pipes"> Pipes</a>
    </nav>
  </div>
</div>
